@font-face {
  font-family: 'iconsfont';
  src:  url('../fonts/iconsfont.eot?4fyqa4');
  src:  url('../fonts/iconsfont.eot?4fyqa4#iefix') format('embedded-opentype'),
    url('../fonts/iconsfont.ttf?4fyqa4') format('truetype'),
    url('../fonts/iconsfont.woff?4fyqa4') format('woff'),
    url('../fonts/iconsfont.svg?4fyqa4#iconsfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconsfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_back:before {
  content: "\e905";
  color: #fff;
}
.icon-search:before {
  content: "\e904";
  color: #000;
  font-size: 50px;
}

.icon-close:before {
  content: "\e906";
  color: #000;
  font-size: 50px;
}
.icon-arrow:before {
  content: "\e903";
  color: #fff;
  font-size: 24px;
}
.icon-cart_add:before {
  content: "\e900";
  color: #fdfdfd;
  font-size: 24px;
}
.icon-menu:before {
  content: "\e901";
  color: #fff;
  font-size: 50px;
}
.icon-cart:before {
  content: "\e902";
  color: #28d62f;
  font-size: 50px;
}
