*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  cursor: pointer;
  font: inherit;
  background: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a,
button {
  text-decoration: none;
  color: inherit;
  border: none;
  display: block;
}

button {
  outline: none;
}

ul {
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

html {
  height: 100%;
}

body {
  background-color: #fff;
  min-height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}

.btn {
  cursor: pointer;
  width: 69px;
  height: 69px;
  background-color: #083DA6;
  box-shadow: -1px 1px 2px 1px rgba(20, 33, 104, 0.68), inset 0px 0px 7px 2px rgba(98, 147, 241, 0.9);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.btn:hover {
  opacity: 0.8;
}

a {
  transition: 0.3s;
}

a:hover {
  color: #0f6214;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 126px;
  background: #DFF5FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 7px rgba(18, 51, 116, 0.77);
  border-radius: 0px 0px 13px 13px;
}
.header .logo__img {
  height: 86.71px;
  width: 184.11px;
  opacity: 0.93;
  transform: rotate(-3.56deg);
}

.flex-group {
  display: flex;
  gap: 10px;
}

form {
  position: relative;
  margin: 0 auto;
}

.search {
  background: #EDF8F5;
  border-radius: 20px;
  transition: 0.3s;
}
.search:focus-within {
  box-shadow: 0px 0px 28px 1px rgba(36, 255, 0, 0.2), inset 0px 5px 18px rgba(3, 83, 11, 0.73);
}

.search input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 21px;
  background: #EDF8F5;
  color: #073EA5;
}

.search button {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

nav {
  position: fixed;
  overflow: auto;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #292929;
  z-index: 3;
  transition: 0.5s;
  background-color: #9CB2DB;
}
nav .flex-group {
  gap: 24px;
}
nav .burger__sidebar {
  margin: 21px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.open {
  right: 0;
}

.nav__menu {
  list-style: none;
  text-align: center;
  font-size: 25px;
}

.nav__link {
  margin-top: 65px;
}

.nav__link--active {
  font-weight: bold;
}

main {
  padding: 0 15px 0 15px;
  flex: 1 1 auto;
}

.gap {
  margin-top: 30px !important;
}

.content-block {
  padding: 12px 0;
  background: #FDFDFD;
  box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.popular-product {
  position: relative;
}
.popular-product .options {
  width: 90%;
  display: flex;
  gap: 24px;
  margin: 0 auto 20px auto;
}

.block-title {
  text-align: start;
  padding-bottom: 9px;
  margin-left: 7px;
}

select {
  padding: 0 20px;
  height: 30px;
  color: #fff;
  padding-left: 12px;
  font-size: 18px;
  background-color: #073EA5;
  border-radius: 20px;
}

.slider {
  display: flex;
  overflow: hidden;
}
.slider .slider__content {
  display: flex;
  justify-content: center;
  gap: 15px;
  position: relative;
}
.slider .slider__item {
  display: flex;
  gap: 10px;
}
.slider .slider__item .card-img {
  height: 120px;
  width: 90%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 165px;
  padding: 9px;
  background: rgba(155, 226, 205, 0.16);
  transition: 0.5s;
  border-radius: 20px;
}
.card:hover {
  box-shadow: 0px 0px 10px 1px rgba(36, 255, 0, 0.2), inset 0px 0px 15px rgba(3, 83, 11, 0.2);
}
.card:hover .card-btn {
  box-shadow: 0px 0px 28px 1px rgba(36, 255, 0, 0.2), inset 0px 0px 18px rgba(3, 83, 11, 0.73);
}
.card h3 {
  font-size: 16px;
  font-weight: 400;
}
.card .card__info {
  display: flex;
  gap: 7px;
}
.card .card__info .price {
  padding: 3px 10px;
  background: #FDFDFD;
  border-radius: 20px;
  font-style: italic;
}
.card .card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #28D62F;
  border-radius: 20px;
  transition: 0.3s;
}
.card .add-to-cart {
  padding: 3px 14px;
}
.card .add-to-cart i {
  margin-right: 2px;
}

#carousel {
  left: -353px;
}

.arrow {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 10.1875em;
  width: 31px;
  height: 70px;
  background: #083DA6;
  box-shadow: -1px 1px 2px 1px rgba(20, 33, 104, 0.68), inset 0px 0px 7px 2px rgba(98, 147, 241, 0.9);
}

.arrow--left {
  left: 0;
  border-radius: 0px 20px 20px 0px;
}
.arrow--left .icon-arrow {
  transform: rotate(-180deg);
}

.arrow--right {
  right: 0;
  border-radius: 20px 0px 0px 20px;
}

.all-product .all-product__header {
  display: flex;
  gap: 36px;
}
.all-product .all-product__header select {
  width: 198px;
}
.all-product .card__intro {
  background-color: #14EE2A;
  font-size: 12px;
  font-style: italic;
  padding: 5px 10px;
}

.cards {
  padding: 0 23px;
}

.card-img {
  height: 110px;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}
.card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  margin: 0 15px 0 15px;
}

.links {
  margin: 0 32px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.links > a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(155, 226, 205, 0.16);
  transition: 0.5s;
  border-radius: 20px;
  padding: 39px 49px;
}
.links > a:hover {
  box-shadow: 0px 0px 10px 1px rgba(36, 255, 0, 0.2), inset 0px 0px 15px rgba(3, 83, 11, 0.2);
}
.links > a:visited h3 {
  opacity: 0.8;
}

.site-map {
  border-radius: 13px 13px 0 0;
  background-color: #848484;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 7px rgba(18, 51, 116, 0.77);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding-top: 12px;
}
.site-map h3 {
  font-size: 16px;
}

.accordion {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion__control {
  list-style: none;
}

.accordion__control::-webkit-details-marker {
  display: none;
}

.accordion__content li {
  padding-top: 15px;
}/*# sourceMappingURL=style.css.map */